<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../dist/output.css" />
</head>

<body class="h-fit w-screen">
  <script>
    window.onload = () => {
      if (localStorage.getItem('userType') === 'fixer') {
        document.getElementById('jobsTarget').href = '../pages/job_accepter.html#screen1';
      }

      if (localStorage.getItem('userType') === 'customer') {
        document.getElementById('jobsTarget').href = '../pages/job_offer.html#screen1';
      }
    };

  </script>

  <footer
    class="bg-mrfix_brown w-full  h-16 px-6 py-2 flex justify-between items-center text-gray-font fixed bottom-0 shadow-lg z-40 border-t border-gray-100">
    <a href="#" target="_parent" rel="noreferrer" id="jobsTarget">
      <span
        class="px-2  cursor-pointer  hover:scale-125 hover:text-gray-700 text-sm  flex flex-col items-center text-center">
        <img src="../images/request.svg" alt="" class="w-8 fill-white">
      </span>
    </a>
    <a href="../pages/booking.html" target="_parent" rel="noreferrer">
      <span
        class="px-2 py-1 cursor-pointer hover:scale-125 hover:text-gray-700 text-sm  flex flex-col items-center text-center">
        <img src="../images/booking.svg" alt="" class="w-8">
      </span>
    </a>
    <a href="../pages/message.html" target="_parent" rel="noreferrer">
      <span
        class="px-2 py-1 cursor-pointer hover:scale-125  hover:text-gray-700 text-sm  flex flex-col items-center text-center">
        <img src="../images/chat.svg" alt="" class="w-8">
      </span>
    </a>
    <a href="../pages/profile.html" target="_parent" rel="noreferrer" class="hover:scale-125">
      <span
        class="px-2 py-1 cursor-pointer  hover:scale-110  hover:text-gray-700 text-sm  flex flex-col items-center text-center">
        <img src="../images/profile.svg" alt="" class="w-8 hover:scale-110">
      </span>
    </a>
  </footer>
</body>

</html>
